In [12]:
import pandas as pd

In [13]:
data=pd.read_csv('data.csv')

In [14]:
data

,First_Name,Last_Name,Blood_Group,Address,Phone_Number
0,Sahil,Mishra,O+,"12 Madhupuram Colony, IIM Road off Sitapur Roa...",7007059528
1,Shikhar,Mishra,B+,"12 Madhupuram Colony, IIM Road off Sitapur Roa...",9793717669
2,Vinod Kumar,Mishra,B+,"12 Madhupuram Colony, IIM Road off Sitapur Roa...",9935861001
3,Atul,Dixit,A+,"14-15 Madhupuram Colony, IIM Road off Sitapur ...",8400459533

In [ ]:
for i in data:
    print(i[2])